<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Fissy/OneDrive/Documents/BugHunter_Team_About_Me/FaceBook/src/test/java/SeleniumWebSignupTest.java"><classes/></test></suite>